<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oyoapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.NotificationActrivity" />
        <activity android:name=".Activities.SearcCitiesActivity" />
        <activity android:name=".Activities.ExcitingOffersActivity" />
        <activity
            android:name=".Activities.HotelAndRoomsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--<activity-->
            <!--android:name=".Activities.hotelsandhomestab"-->
            <!--android:label="@string/title_activity_hotelsandhomestab"-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->
        <activity android:name=".Activities.WizardActivity" />
        <activity android:name=".Activities.Bookingsecond" />
        <activity android:name=".Activities.BookingFirst" />
        <activity android:name=".Activities.InningsActivity" />
        <activity android:name=".Activities.FAQActivity" />
        <activity android:name=".Activities.ReferAndWin" />
        <activity
            android:name=".Activities.HomeHeaderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.ActivityFort" />
        <activity android:name=".Activities.ActivityBeach" />
        <activity android:name=".Activities.WeekEndGateHillActivity" />
        <activity android:name=".Activities.OfferEndActivity" />
        <activity android:name=".Activities.LimitedPeroidOfferActivity" />
        <activity
            android:name=".FragmentsAndPackages.OyoHome"
            android:label="@string/title_activity_oyo_home"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FragmentsAndPackages.SplashActivity"
            android:theme="@style/SplashTheme">

        </activity>
    </application>

</manifest>